.banner-wrapper {


    &.news-landing-banner {


        .banner-black {
            height: 74vh;   

            .banner-img {
                height: 74vh;
                opacity: 0.8;
            }
        }
    }
}